<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.palliums.biometric">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application>
        <activity
            android:name="androidx.biometric.enhanced.DeviceCredentialHandlerActivity"
            android:exported="true"
            android:theme="@style/DeviceCredentialHandlerTheme"
            android:screenOrientation="portrait" />
    </application>

</manifest>
