<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.violas.wallet">
    <!-- 上架 Google Play 需要删除 READ_PHONE_STATE 权限 -->
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        tools:node="remove" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".PayApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.APP.DayNight"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.launch.LaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.APP.DayNight.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.APP.DayNight.Home"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.identity.createIdentity.CreateIdentityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.identity.importIdentity.ImportIdentityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.identity.IdentityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.APP.DayNight.Home" />
        <activity
            android:name=".ui.backup.BackupPromptActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.backup.ShowMnemonicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.APP.DayNight.Secondary" />
        <activity
            android:name=".ui.backup.ConfirmMnemonicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.APP.DayNight.Secondary" />
        <activity
            android:name=".ui.account.AccountInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.managerAssert.ManagerAssertActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.transfer.LibraTransferActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.transfer.BTCTransferActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.collection.CollectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.APP.DayNight.Secondary" />
        <activity
            android:name=".ui.account.operations.AccountOperationsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.account.selection.AccountSelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.addressBook.add.AddAddressBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.addressBook.AddressBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.account.wallet.CreateWalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.account.wallet.ImportWalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.account.walletmanager.WalletManagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.APP.DayNight.Secondary" />
        <activity
            android:name=".ui.scan.ScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.account.wallet.AddWalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.APP.DayNight.Secondary" />
        <activity
            android:name=".ui.setting.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.HelpFeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.web.WebCommonActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.changeLanguage.ChangeLanguageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.APP.DayNight.Secondary" />
        <activity
            android:name=".ui.transactionRecord.TransactionRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tokenDetails.TokenDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.transactionDetails.TransactionDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.APP.DayNight.Secondary" />
        <activity
            android:name=".ui.mapping.MappingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.APP.DayNight.Secondary" />
        <activity
            android:name=".ui.scan.ScanResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.mapping.MappingRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.webManagement.LoginWebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.APP.DayNight.WalletConnect" />
        <activity
            android:name=".ui.walletconnect.WalletConnectManagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.APP.DayNight.WalletConnect" />
        <activity
            android:name=".ui.walletconnect.WalletConnectActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.APP.DayNight.WalletConnect" />
        <activity
            android:name=".ui.walletconnect.WalletConnectAuthorizationActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.APP.DayNight.WalletConnect" />
        <activity
            android:name=".ui.market.MyPoolActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.market.SwapRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.market.PoolRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.market.SwapDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.market.PoolDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.collection.MultiCollectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.APP.DayNight.Secondary" />
        <activity
            android:name=".ui.bank.deposit.DepositActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.APP.DayNight.Secondary" />
        <activity
            android:name=".ui.bank.borrow.BorrowActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.APP.DayNight.Secondary" />
        <activity
            android:name=".ui.bank.repayBorrow.RepayBorrowActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.APP.DayNight.Secondary" />
        <activity
            android:name=".ui.transfer.MultiTransferActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bank.order.deposit.BankDepositOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.APP.DayNight.Secondary" />
        <activity
            android:name=".ui.bank.order.borrowing.BankBorrowingOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.APP.DayNight.Secondary" />
        <activity
            android:name=".ui.bank.record.deposit.BankDepositRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bank.record.borrowing.BankBorrowingRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.bank.details.borrowing.BankBorrowingDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.APP.DayNight.Secondary" />
        <activity
            android:name=".ui.message.MessageCenterActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more. -->
        <!--<meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_violas" />-->
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <!--<meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />-->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <!-- 设计图尺寸，用于今日头条适配方案 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="667" />
    </application>

</manifest>